.display-none{
    display: none;
}

.active-shop{
    background-color: rgba(0, 0, 0, 0.6);
    color:  rgba(255, 255, 255, 0.8);
}

#nav-list .active-shop:hover, #shop-filters .active-shop:hover{
    background-color: rgba(0, 0, 0, 0.6);
    color:  rgba(255, 255, 255, 1);
}

/* Screen view greater than 1000 */

#shop-nav.br-dcss-gt1000{
    width : 70px;
}

#shop-filters.br-dcss-gt1000{
    width : calc(100% - 70px);
    left : 70px;
}

#product-card.br-dcss-gt1000{
    width : calc(100% - 70px);
    left : 70px;
    grid-template-columns: repeat(auto-fill, minmax(223px, 1fr));
}

#product-card .card.br-dcss-gt1000{
    width: 223px;
    height: 320px;
}

/* Cart Section dynamic CSS  */

#cart-section.ct-dcss-gt1000{
    width : 600px;
}

#shop-filters.ct-dcss-gt1000{
    width : calc(100% - 680px);
}

#product-card.ct-dcss-gt1000{
    width : calc(100% - 680px);
    grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));
}

#product-card .card.ct-dcss-gt1000{
    width: 195px;
    height: 295px;
}


/* Screen View At Less Than 1000 */


#shop-nav.br-dcss-lt1000{
    width : 0px;
}

#shop-filters.br-dcss-lt1000{
    width : calc(100% - 0px);
    left : 0px;
}

#product-card.br-dcss-lt1000{
    width : calc(100% - 0px);
    left : 0px;
}

#product-card.br-dcss-lt1000{
    width : calc(100% - 0px);
    left : 0px;
    grid-template-columns: repeat(auto-fill, minmax(223px, 1fr));
}

#product-card .card.br-dcss-lt1000{
    width: 223px;
    height: 320px;
}















/* Dynamic CSS auto compress size shop nav*/
/* 
#shop-nav.dynamic-css-540{
    width: 50px;
} 

#shop-nav .dynamic-css-540{
        width: 50px;
}

#shop-nav .nav-list li span.dynamic-css-540{
        font-size: 10px;
}

#shop-nav .nav-list li.dynamic-css-540{
    padding-left: 0px;
}

#shop-nav .nav-list li i.dynamic-css-540{
    margin-right: 0px;
}

#shop-filters.dynamic-css-540{
    left: 50px;
    width: calc(100% - 50px);
}

#shop-filters .filters li.dynamic-css-540{
    margin: 3px 5px;
} */