<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ManageShopServlet</servlet-name>
        <servlet-class>go.servlet.ManageShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetShopServlet</servlet-name>
        <servlet-class>go.servlet.GetShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageShopCategoryServlet</servlet-name>
        <servlet-class>go.servlet.ManageShopCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetShopCategoryServlet</servlet-name>
        <servlet-class>go.servlet.GetShopCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>go.servlet.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductServlet</servlet-name>
        <servlet-class>go.servlet.GetProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProductServlet</servlet-name>
        <servlet-class>go.servlet.RemoveProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>go.servlet.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageShopServlet</servlet-name>
        <url-pattern>/ManageShopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetShopServlet</servlet-name>
        <url-pattern>/GetShopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageShopCategoryServlet</servlet-name>
        <url-pattern>/ManageShopCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetShopCategoryServlet</servlet-name>
        <url-pattern>/GetShopCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductServlet</servlet-name>
        <url-pattern>/GetProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProductServlet</servlet-name>
        <url-pattern>/RemoveProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/UpdateProductServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
